.movie-container {
  display: flex;
   width: 100%;
   /* height: 100px; */
   align-items: center; /* Align Items Vertically */
   justify-content: space-between; /* Align Items Horizontally (with equal space in between each of them */
   background: #eee;
   flex-wrap: wrap;
}


.moviebox {
  display: flex;
   width: 100%;
   height: 100px;
   align-items: center; /* Align Items Vertically */
   justify-content: space-between; /* Align Items Horizontally (with equal space in between each of them */
   background: #eee;
   flex-direction: column;
   cursor: pointer;
}


.movie-img {
    height: 300px;
    width: 200px;
    border-radius: 3%;
    cursor: pointer;
}
