.movie-container {
   display: flex;
   width: 100%;
   background: #eee;
   flex-wrap: wrap;
   justify-content: flex-start;
}


.movie-box {
  margin-right: 12px;
}


.movie-img {
    height: 300px;
    width: 200px;
    border-radius: 3%;
    cursor: pointer;
}
