.header-container {
  height: 65px;
  background: #333545;
  padding: 8px 10px;
}


.back-btn {
    width: 50px;
    background: white;
    float: left;
    border-radius: 30px;
    cursor: pointer;
}

.logo_pos {
  position: absolute;
  top: 1%;
  cursor: pointer;
}


.headerTxt {
color: white;
float: left;
padding: 8px;
font-weight: bold;
font-size: 23px;
}
